.banner-image{
    background-image: url(../../images/banner-2.jpg),
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;

}
.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: calc(100vh - 20vh);
}
.banner-description{
    color: rgb(199, 193, 193);
    margin: 10px 0px;
}
.regular-btn{
    background-color: rgba(9, 105, 129, 0.925);
    padding: 10px 20px;
    border: none;
    transition: 0.3s;
}
.regular-btn:hover{
    background-color: lightseagreen;
    color: rgb(27, 27, 27);
}